<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="FILE_LOG_PATTERN" value="%date %-5level %logger{0} [%file:%line] %msg%n"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${HOMEPET_ROOT}/log/bunchLog.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

  <!--  <logger level="DEBUG">
        <appender-ref ref="file"/>
    </logger>-->

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
